#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px;
    
}

#room {
    padding: 0.5em;
}
#vim-statusbar {
    margin: 0px;
    padding: 0.5em;
    font-family: monospace;
    flex-grow: 2;
}